* {
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
  
    height: 100%;
    width: 100%;
   background-color: #000;
}
*::selection {
    background-color: #fff;
    color: #6225d3;
  }
  
  body::-webkit-scrollbar {
    display: block;
    width: 8px;
    background: #6225d3;
  }
  body::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 50px;
  }
  body {
    overflow-x: hidden;
  }
  #cursor {
    height: 20px;
    width: 20px;
    background-color: #6225d3;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
    transition: all linear 0.1s;
  }

  #cursor-blur {
    height: 500px;
    width: 500px;
    background-color:#a277f057;
    border-radius: 50%;
    position: fixed;
    filter: blur(80px);
    z-index: 9;
    transition: all linear 0.4s;
  }
  .navBar{
    display:flex;
    flex-direction: column;
  }
  
#nav {
    height: 15vh;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 0 12vw;
    gap: 4vw;
    position: fixed;
    justify-content: flex-start;
    z-index: 999;
}

#nav img {
    height: 15vh;
    width: 25vw;
    border-radius: 1.5vw;
    margin-left: -5vw;
}

#nav h4 {
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    font-size: 1.5vw;
}

#scroller {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
  }
  #scroller::-webkit-scrollbar {
    display: none;
  }
  #scroller-in {
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  #scroller h4 {
    display: inline-block;
    font-size: 120px;
    font-weight: 900;
    font-family: gilroy;
    margin-right: 20px;
    transition: all linear 0.3s;
    color: #000;
    -webkit-text-stroke: 2px #ffffff;
  }
  #scroller h4:hover {
    color: #6225d3;
    -webkit-text-stroke: 2px #6225d3;
  }
  
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
a{
    text-decoration: none;
}



.courseContainers{
  display: flex;
  flex-direction: column;
}

#headingsUp {
  margin-top: 15vh;  
  width: 100%;
    display: flex;
    padding: 0 50px;
    align-items: center;
    position: relative;
    z-index: 10;
    justify-content: space-around;
  }
  #headings h3 {
    font-size: 7vh;
    font-weight: 800;
    margin-bottom: 2vh;
  }
  #headings p {
    font-size: 20px;
    line-height: 26px;
  }



  #footer {

    height: 15vh;
    width: 100%;
    background: linear-gradient(to left bottom, #7f35db 0%, #6225d3 80%);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12vw;
    z-index: 300;
    padding: 0 100px;
    
  }
  #footer > img {
    position: absolute;
    left: 0;
    height: 100%;
    z-index: 900;

  }
  #f1 img {
    height: 1.5vh;
  }
  #f1,
  #f2,
  #f3 img{
    display: inline;
    margin-left: 4vw;
    height: 2vw;
    z-index: 999;
  }
  
  #f3 img:hover{
    height: 2.3vw;
  }
  
  #f4 {
    width: fit-content;
    position: relative;
    z-index: 99;
    /* background-color: red; */
  }
  #f2 h3 {
    font-size: 1.6vw;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 900;
    margin-bottom: 8px;
  }
  
  #f3 h3 {
    font-size: 1.6vw;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 600;
    margin-bottom: 8px;
  }
  #f4 h4 {
    font-size: 1vw;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 8px;
  }
  .f3 image{
    cursor: pointer;
  }
  
.page3{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }



  #blog {
    display: flex;
    align-items: center;
    justify-content: center;
}

#blog h1 {
    margin-top: 19vh;
}
#courseContainer {
    height: 65vh;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 7vh;
}

.course {
    height: 48vh;
    width: 35vw;
    background-color:#6225d3;
    border-radius: 5vh;
    background-position: center;
    background-size: cover;
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
    

}
#course1 h2 {
    text-align: center;
    justify-content: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

#course1 h3 {
  display: flex;
    text-align: left;
    justify-content: left;
    padding-left: 2vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    gap: 1vw;
}

#course1 img {
  
    height: 6vh;
    width: 8%;
    border-radius: 100%;
    text-align: left;
}

#course1 p {
    text-align: left;
    padding-left: 2vw;
    font-size: 2.2vh;
    padding-bottom: 10%;
}

#ch {
    display: none;

}

#ch:checked~.content {
    display: block;

}

#ch:checked~label {
    display: none;

}

.content {
    display: none;

}

label {
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);

  height: 8vh;
  width: 30%;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    border-radius: 5vh;
    padding: 1vw 2vh;
    margin-top: 1vh;
    margin-left: 10vw;
    text-align: center;
    font-size: 3vh;
    z-index: 900;
    position: relative;
    background-image: linear-gradient(to right,rgb(124, 24, 24),rgb(252, 36, 20));
}
label:hover{
  background-image: linear-gradient(to right,rgb(208, 95, 95),rgb(246, 58, 44));
}

#ch2 {
    display: none;
}

#ch2:checked~.content {
    display: block;
}

#ch2:checked~label {
    display: none;
}

#course2 h2 {
    text-align: center;
    justify-content: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

#course2 h3 {
    text-align: left;
    justify-content: left;
    padding-left: 2vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

#course2 img {
    height: 4vh;
    width: 3vw;
    border-radius: 1vh;
    text-align: left;
}

#course2 p {
    text-align: left;
    padding-left: 2vw;
    font-size: 2.2vh;
}
